body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: larger;
    color: black;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .block {
    margin:5%;
  }

  .block p {
    font-size: larger;
  }

  .container {
    display: flex;
    justify-content: end;
  }

  .container img {
    height: 170px;
    display: flex;
    justify-content: flex-end;
  }

  .nav-item .nav-link {
    color: black;
  }

  .nav-link .active {
    font-weight: bold;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }

  .contactList li a {
    color: black;
    font-size: larger;
  }

  .card-text {
    height: 120px;
    overflow: auto;
  }
  #navbar {
    overflow: hidden;
  }

  @media screen and (max-width:900px){
    .cardRow {
        display: inline !important;
    }
    
}